body{
background-color:#59467d;

  font-family: Helvetica;
  

}

#contents{
background-color:#fff;
    padding: 5px;
}

#upgrade{
background-color: #c9c9c9;
    border-style: inset;
    padding: 5px;
}
